<mat-grid-list mat-grid-list cols="1" rowHeight="450px">
  <mat-grid-tile [rowspan]="2">
    <div class="login">
      <div class="login__card">
        <mat-card>
          <mat-card-title><h2>Авторизация</h2></mat-card-title>
          <mat-card-subtitle>Интерфейс администратора авиакомпании {{airlineCode}}</mat-card-subtitle>
          <mat-card-content>
            <div class="example-container">
              <form class="login__form" [formGroup]="formLogin" (submit)="sendForm()">
                <mat-form-field class="login__input">
                  <input matInput formControlName="username" autocomplete="off" type="text" placeholder="Введите свой логин">
                </mat-form-field>
                <mat-form-field class="login__input">
                  <input matInput formControlName="password" autocomplete="off" type="password" placeholder="Введите свой пароль">
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary" class="login__button">Авторизоваться</button>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
