.admin
  &__button
    &-nav
      height: 100%
      margin: 0 16px 0 -16px

    &-menu
      margin-left: auto
      height: 100%
      margin-right: -16px

  &__content
    width: 100%

  &__link

    &-active
      background: rgba(63,81,181,.12)

.example-container
  display: flex;
  height: calc(100% - 64px);
  background: #edeef0;


.example-sidenav-content
  padding 20px
  width: 100%
  box-sizing: border-box


.example-sidenav
  padding: 20px;
  box-shadow: 2px 0 12px 0 rgba(0,0,0,0.22);

  a
    display: block
    margin-bottom: 10px
