<mat-grid-list mat-grid-list cols="1" rowHeight="760px">
  <mat-grid-tile>
    <mat-card class="company__card">
      <mat-card-title>Добавление АК</mat-card-title>
      <form class="company__form" [formGroup]="formCompany">
        <mat-form-field class="company__input">
          <input matInput formControlName="AirlineCode" placeholder="Код АК">
        </mat-form-field>
        <mat-form-field class="company__input">
          <input matInput formControlName="AirlineName" placeholder="Название АК">
        </mat-form-field>
        <mat-form-field class="company__input">
          <input matInput type="email" formControlName="Description" placeholder="Описание">
        </mat-form-field>
        <mat-form-field class="company__input">
          <input matInput formControlName="ConnectionString" placeholder="Connection string">
        </mat-form-field>
        <mat-form-field class="company__input">
          <input matInput formControlName="UserTable" placeholder="User table">
        </mat-form-field>
        <mat-form-field class="company__input">
          <input matInput formControlName="RoleTable" placeholder="Role table">
        </mat-form-field>
        <mat-form-field class="company__input">
          <input matInput formControlName="UserRoleTable" placeholder="User role table">
        </mat-form-field>
        <mat-form-field class="company__input">
          <input matInput formControlName="UserLoginTable" placeholder="User login table">
        </mat-form-field>
        <mat-form-field class="company__input">
          <input matInput formControlName="IdentityDb" placeholder="Identity DB">
        </mat-form-field>
        <div class="company__button-wrapper">
          <button class="company__button _clear" mat-raised-button (click)="clearForm()">Очистить форму</button>
          <button class="company__button" mat-raised-button (click)="sendForm()" color="primary">Добавить компанию</button>
        </div>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-card>
  <mat-progress-bar *ngIf="isLoader; else loaserDisabled" mode="buffer"></mat-progress-bar>
  <ng-template #loaserDisabled>
    <mat-card-title>Поиск АК</mat-card-title>
    <app-tablet-example
      [tableHeader]="[
          ['AirlineName', 'Имя'],
          ['AirlineCode', 'Код АК'],
          ['Description', 'Описания'],
          ['ConnectionString', 'Connection string'],
          ['UserTable', 'User table'],
          ['RoleTable', 'Role table'],
          ['UserRoleTable', 'User role table'],
          ['UserLoginTable', 'User login table'],
          ['IdentityDb', 'Identity DB']
        ]"
      [tableDataSource]="airlines"
    ></app-tablet-example>
  </ng-template>
</mat-card>

