<mat-grid-list mat-grid-list cols="1" rowHeight="550px">
   <mat-grid-tile>
    <mat-card class="user__card">
      <mat-card-title>Добавить пользователя</mat-card-title>
      <form class="user__form" [formGroup]="formUser">
        <mat-form-field class="user__input">
          <input matInput formControlName="UserName" placeholder="Логин">
        </mat-form-field>
        <mat-form-field class="user__input">
          <input matInput formControlName="Password" placeholder="Пароль">
        </mat-form-field>
        <mat-form-field class="user__input">
          <input matInput type="email" formControlName="Email" placeholder="email">
        </mat-form-field>
        <mat-form-field class="user__input">
          <input matInput formControlName="FirstName" placeholder="Имя">
        </mat-form-field>
        <mat-form-field class="user__input">
          <input matInput formControlName="LastName" placeholder="Фамилия">
        </mat-form-field>
        <mat-form-field class="user__input">
          <mat-select formControlName="AirlineCode" placeholder="Авиакомпания">
            <mat-option *ngFor="let airlin of airlines" id="{{airlin.id}}" value="{{airlin.AirlineCode}}">{{airlin.AirlineCode}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="user__button-wrapper">
          <button class="user__button _clear" mat-raised-button (click)="clearForm()">Очистить форму</button>
          <button class="user__button" mat-raised-button (click)="sendForm()" color="primary">Добавить пользователя</button>
        </div>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
